.grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--esp-3);
}

@media (min-width: 768px) {
  .grilla {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grilla {
    grid-template-columns: repeat(6, 1fr);
  }
}
